In [6]:
import pandas as pd
import numpy as np

data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.026718    -0.051463     0.009928     0.022900
std       0.986011     1.000517     1.005028     0.997409
min      -3.452265    -3.142954    -3.585751    -2.882214
25%      -0.628627    -0.701657    -0.660699    -0.670481
50%      -0.015804    -0.045754     0.027664     0.023050
75%       0.740538     0.627708     0.666373     0.734963
max       3.114107     3.053152     3.754837     3.544772

In [ ]:
col = data[2]
col[np.abs(col) > 3]

In [ ]:
data[(np.abs(data) > 3).any(1)]

In [9]:
data[np.abs(data) > 3] = np.sign(data) * 3
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.027183    -0.051274     0.009672     0.022182
std       0.983764     0.999623     1.000296     0.995098
min      -3.000000    -3.000000    -3.000000    -2.882214
25%      -0.628627    -0.701657    -0.660699    -0.670481
50%      -0.015804    -0.045754     0.027664     0.023050
75%       0.740538     0.627708     0.666373     0.734963
max       3.000000     3.000000     3.000000     3.000000

In [11]:
np.sign(data).head()

     0    1    2    3
0 -1.0  1.0  1.0  1.0
1 -1.0  1.0  1.0 -1.0
2 -1.0 -1.0 -1.0 -1.0
3  1.0 -1.0 -1.0 -1.0
4 -1.0  1.0 -1.0  1.0