In [1]:
#Muhammad Hidayat Hidayat Bin Mohd Yusof
#20FFTT2910
#DA3304 APPLIED PROGRAMMING FOR DATA ANALYTICS
import pandas as pd
from numpy import nan as NAN
filepath='class-grades - v2.csv'
columns=['Prefix','Assignment','Tutorial','Midterm','TakeHome','Final']
df=pd.read_csv(filepath,names=columns)
data=pd.DataFrame(df.iloc[1:]).astype('float64')

In [2]:
#From question 2 part 2
Bins=[0,20,40,60,80,100]
grades=['E','D','C','B','A']
old=pd.DataFrame({'Old_Final':data['Final']})
gradlab=pd.DataFrame({'Labels':pd.cut(data['Final'],Bins,labels=grades,right=True)})
new=data.join([old,gradlab])
new['Final']=pd.cut(data['Final'],Bins,right=True)
ReData=new[['Prefix','Assignment','Tutorial','Midterm','TakeHome','Old_Final','Final','Labels']]
ReData

,Prefix,Assignment,Tutorial,Midterm,TakeHome,Old_Final,Final,Labels
1,5.0,57.14,34.09,64.38,51.48,52.50,"(40, 60]",C
2,8.0,95.05,105.49,67.50,99.07,68.33,"(60, 80]",B
3,8.0,83.70,83.17,30.00,63.15,48.89,"(40, 60]",C
4,7.0,81.22,96.06,49.38,105.93,80.56,"(80, 100]",A
5,8.0,91.32,93.64,95.00,107.41,73.89,"(60, 80]",B
...,...,...,...,...,...,...,...,...
95,8.0,96.73,103.71,45.00,93.52,61.94,"(60, 80]",B
96,7.0,85.34,80.54,41.25,93.70,39.72,"(20, 40]",D
97,8.0,89.94,102.77,87.50,90.74,87.78,"(80, 100]",A
98,7.0,95.60,76.13,66.25,99.81,85.56,"(80, 100]",A
99,8.0,63.40,97.37,73.12,72.78,77.22,"(60, 80]",B

In [3]:
#Question 3 part 1
dict={'E':'Fail','D':'Pass','C':'Merit','B':'Merit','A':'Distinction'}
TranData=ReData[['Prefix','Assignment','Tutorial','Midterm','TakeHome','Final','Labels']]
newlables=pd.Series(TranData['Labels'])
TranData['NewLables']=newlables.map(dict)
TranData

,Prefix,Assignment,Tutorial,Midterm,TakeHome,Final,Labels,NewLables
1,5.0,57.14,34.09,64.38,51.48,"(40, 60]",C,Merit
2,8.0,95.05,105.49,67.50,99.07,"(60, 80]",B,Merit
3,8.0,83.70,83.17,30.00,63.15,"(40, 60]",C,Merit
4,7.0,81.22,96.06,49.38,105.93,"(80, 100]",A,Distinction
5,8.0,91.32,93.64,95.00,107.41,"(60, 80]",B,Merit
...,...,...,...,...,...,...,...,...
95,8.0,96.73,103.71,45.00,93.52,"(60, 80]",B,Merit
96,7.0,85.34,80.54,41.25,93.70,"(20, 40]",D,Pass
97,8.0,89.94,102.77,87.50,90.74,"(80, 100]",A,Distinction
98,7.0,95.60,76.13,66.25,99.81,"(80, 100]",A,Distinction
99,8.0,63.40,97.37,73.12,72.78,"(60, 80]",B,Merit

In [4]:
#Question 3 part 2
ASSGN=TranData['Assignment'].map(round).map(lambda x: x/100)
TranASSGN=pd.DataFrame(ASSGN)
TranASSGN

    Assignment
1         0.57
2         0.95
3         0.84
4         0.81
5         0.91
..         ...
95        0.97
96        0.85
97        0.90
98        0.96
99        0.63

[99 rows x 1 columns]