In [33]:
#QUESTION 1 PART A
import pandas as pd
from numpy import nan as NaN
df=pd.read_csv('cars_formal_pt.csv')
df.head(10)

,Unnamed: 0,year,full_model_name,model_name,price,distance_travelled(kms),fuel_type,city
0,2,2017.0,Toyota Fortuner 2.8 4x2 MT [2016-2020],Fortuner,2650000,64593,Diesel,Thane
1,4,2012.0,Hyundai Verna Fluidic 1.6 CRDi SX,Verna,475000,23800,Diesel,Mumbai
2,5,2012.0,Hyundai i20 Sportz 1.2 BS-IV,i20,335000,45000,Petrol,Mumbai
3,11,2016.0,Toyota Innova Crysta 2.4 G 7 STR [2016-2017],Innova,1485000,59758,Diesel,Mumbai
4,16,2016.0,Toyota Corolla Altis VL AT Petrol,Corolla,1035000,97679,Petrol,Mumbai
5,83,2021.0,Hyundai Creta SX (O) 1.5 Diesel Automatic,Creta,2095000,7500,Diesel,Mumbai
6,85,2021.0,Hyundai Creta SX (O) 1.4 Turbo 7 DCT Dual Tone,Creta,2050000,4500,Petrol,Mumbai
7,103,2010.0,Toyota Corolla Altis 1.8 G,Corolla,0,46000,Petrol,Mumbai
8,106,2017.0,Toyota Innova Crysta 2.4 G 7 STR [2016-2017],Innova,1575000,60000,Diesel,Mumbai
9,107,2014.0,Toyota Innova 2.5 EV PS 7 STR BS-IV,Innova,950000,91000,Diesel,Mumbai

In [34]:
df.isna().sum()#before replacement of 0 values

Unnamed: 0                 0
year                       2
full_model_name            1
model_name                 0
price                      0
distance_travelled(kms)    0
fuel_type                  4
city                       1
dtype: int64

In [35]:
#QUESTION 1 PART B
df.replace([" ",0],NaN,inplace=True)
df.isna().sum()

Unnamed: 0                 0
year                       2
full_model_name            1
model_name                 0
price                      2
distance_travelled(kms)    0
fuel_type                  4
city                       1
dtype: int64

In [36]:
#QUESTION 1 PART C SUB-QUESTION i
dfdropped=df.dropna(axis=1,thresh=2)
dfdropped.isna().sum()

Unnamed: 0                 0
year                       2
full_model_name            1
model_name                 0
price                      2
distance_travelled(kms)    0
fuel_type                  4
city                       1
dtype: int64

In [37]:
#QUESTION 1 PART C SUB-QUESTION ii,iii
dffilled=dfdropped.fillna({'price':dfdropped['price'].mean(),'distance_travelled(kms)':dfdropped['distance_travelled(kms)'].mean(),'year':dfdropped['year'].mode()[0],'full_model_name':df['full_model_name'].mode()[0],'fuel_type':df['fuel_type'].mode()[0],'city':df['city'].mode()[0]},axis=0)
dffilled.isna().sum()

Unnamed: 0                 0
year                       0
full_model_name            0
model_name                 0
price                      0
distance_travelled(kms)    0
fuel_type                  0
city                       0
dtype: int64

In [38]:
#QUESTION 1 PART D
Brands={'Corolla':'Toyota','Fortuner':'Toyota','Innova':'Toyota','Etios':'Toyota','Verna':'Hyundai','Creta':'Hyundai','i20':'Hyundai','i10':'Hyundai'}
dffilled['Brand']=dffilled['model_name'].map(Brands)
dffilled

,Unnamed: 0,year,full_model_name,model_name,price,distance_travelled(kms),fuel_type,city,Brand
0,2.0,2017.0,Toyota Fortuner 2.8 4x2 MT [2016-2020],Fortuner,2650000.0,64593.0,Diesel,Thane,Toyota
1,4.0,2012.0,Hyundai Verna Fluidic 1.6 CRDi SX,Verna,475000.0,23800.0,Diesel,Mumbai,Hyundai
2,5.0,2012.0,Hyundai i20 Sportz 1.2 BS-IV,i20,335000.0,45000.0,Petrol,Mumbai,Hyundai
3,11.0,2016.0,Toyota Innova Crysta 2.4 G 7 STR [2016-2017],Innova,1485000.0,59758.0,Diesel,Mumbai,Toyota
4,16.0,2016.0,Toyota Corolla Altis VL AT Petrol,Corolla,1035000.0,97679.0,Petrol,Mumbai,Toyota
5,83.0,2021.0,Hyundai Creta SX (O) 1.5 Diesel Automatic,Creta,2095000.0,7500.0,Diesel,Mumbai,Hyundai
6,85.0,2021.0,Hyundai Creta SX (O) 1.4 Turbo 7 DCT Dual Tone,Creta,2050000.0,4500.0,Petrol,Mumbai,Hyundai
7,103.0,2010.0,Toyota Corolla Altis 1.8 G,Corolla,1042400.0,46000.0,Petrol,Mumbai,Toyota
8,106.0,2017.0,Toyota Innova Crysta 2.4 G 7 STR [2016-2017],Innova,1575000.0,60000.0,Diesel,Mumbai,Toyota
9,107.0,2014.0,Toyota Innova 2.5 EV PS 7 STR BS-IV,Innova,950000.0,91000.0,Diesel,Mumbai,Toyota
10,112.0,2016.0,Hyundai Creta 1.6 SX Plus AT Petrol,Creta,1090000.0,39000.0,Petrol,Mumbai,Hyundai
11,118.0,2017.0,Toyota Innova Crysta 2.8 GX AT 8 STR [2016-2020],Innova,1760000.0,56089.0,Diesel,Thane,Toyota
12,123.0,2013.0,Toyota Fortuner 2.5 Sportivo 4x2 MT,Fortuner,1451000.0,118363.0,Diesel,Thane,Toyota
13,124.0,2015.0,Hyundai i20 Active 1.2 SX,i20,525000.0,98877.0,Petrol,Thane,Hyundai
14,142.0,2018.0,Hyundai i20 Active 1.4 S,i20,790000.0,42000.0,Diesel,Mumbai,Hyundai
15,164.0,2009.0,Toyota Innova 2.5 V 8 STR,Innova,525000.0,65000.0,Diesel,Mumbai,Toyota
16,165.0,2015.0,Toyota Innova 2.5 G BS IV 7 STR,Innova,1050000.0,18000.0,Diesel,Mumbai,Toyota
17,168.0,2020.0,Hyundai Creta SX (O) 1.5 Diesel Automatic,Creta,1990000.0,7800.0,Diesel,Mumbai,Hyundai
18,174.0,2017.0,Hyundai Creta SX Plus 1.6 Petrol,Creta,995000.0,38000.0,Petrol,Mumbai,Hyundai
19,177.0,2017.0,Hyundai Creta SX Plus 1.6 Petrol,Creta,995000.0,38000.0,Petrol,Mumbai,Hyundai
20,178.0,2009.0,Toyota Innova 2.5 V 8 STR,Innova,525000.0,65000.0,Diesel,Mumbai,Toyota
21,181.0,2020.0,Hyundai Creta SX (O) 1.5 Diesel Automatic,Creta,1990000.0,7800.0,Diesel,Mumbai,Hyundai
22,182.0,2017.0,Hyundai Creta SX (O) 1.4 Turbo 7 DCT,Creta,2025000.0,9000.0,Diesel,Mumbai,Hyundai
23,184.0,2019.0,Hyundai Creta 1.6 SX Plus Petrol,Creta,1550000.0,10500.0,Petrol,Navi Mumbai,Hyundai
24,189.0,2017.0,Hyundai Verna 1.6 VTVT S,Verna,675000.0,31414.0,Petrol,Mumbai,Hyundai
25,191.0,2013.0,Hyundai i10 Sportz 1.2 Kappa2,i10,325000.0,29708.0,Petrol,Mumbai,Hyundai
26,193.0,2017.0,Hyundai Creta 1.6 SX Plus AT Petrol,Innova,1030000.0,156334.0,Diesel,Thane,Toyota
27,204.0,2014.0,Toyota Innova 2.5 VX 7 STR BS-III,Innova,975000.0,150116.0,Diesel,Thane,Toyota
28,208.0,2016.0,Hyundai Creta 1.6 SX Plus AT,Creta,1145000.0,56839.0,Diesel,Thane,Hyundai
29,209.0,2012.0,Hyundai i10 Era 1.1 iRDE2 [2010-2017],i10,315000.0,34600.0,Petrol,Thane,Hyundai
30,213.0,2012.0,Hyundai i20 Sportz 1.4 CRDI,i20,349000.0,84000.0,Diesel,Navi Mumbai,Hyundai
31,216.0,2016.0,Toyota Corolla Altis VL AT Petrol,Corolla,1095000.0,31552.0,Petrol,Thane,Toyota
32,217.0,2015.0,Hyundai Verna Fluidic 1.6 VTVT SX Opt AT,Verna,725000.0,37399.0,Petrol,Thane,Hyundai
33,218.0,2012.0,Toyota Innova 2.5 G4 7 STR,Innova,765000.0,158359.0,Diesel,Thane,Toyota
34,221.0,2017.0,Hyundai Creta 1.6 SX Plus AT Petrol,Creta,1195000.0,30958.0,Petrol,Thane,Hyundai
35,230.0,2017.0,Hyundai Creta 1.6 SX Plus AT Petrol,Creta,1100000.0,43100.0,Petrol,Mumbai,Hyundai
36,235.0,2009.0,Hyundai Verna VGT CRDi SX ABS,Verna,197000.0,98000.0,Diesel,Mumbai,Hyundai
37,242.0,2015.0,Hyundai i20 Active 1.4L SX (O) [2015-2016],i20,695000.0,30000.0,Diesel,Mumbai,Hyundai
38,135.0,2014.0,Toyota Etios Liva G SP*,Etios,1042400.0,31913.0,Petrol,Thane,Toyota
39,192.0,2012.0,Toyota Etios G,Etios,375000.0,40200.0,Diesel,Thane,Toyota
40,215.0,2015.0,Toyota Etios Cross 1.2 G,Etios,499000.0,39792.0,Diesel,Thane,Toyota
41,239.0,2012.0,Toyota Etios Liva V,Etios,325000.0,54215.0,Petrol,Mumbai,Toyota

In [39]:
#QUESTION 1 PART E SUB-QUESTION i
dffilled['Brand'].value_counts()

Hyundai    23
Toyota     19
Name: Brand, dtype: int64

In [50]:
print('oldest year:')
dffilled['year'].describe()['min']

oldest year:

2009.0

In [52]:
print('latest year:')
dffilled['year'].describe()['max']

latest year:

2021.0

In [69]:
#QUESTION 1 PART E SUB-QUESTION ii
dffilled.loc[(dffilled['year']==2009)|(dffilled['year']==2021),['year','model_name']]

      year model_name
5   2021.0      Creta
6   2021.0      Creta
15  2009.0     Innova
20  2009.0     Innova
36  2009.0      Verna

In [86]:
#QUESTION 1 PART E SUB-QUESTION ii
print('Car models in 2009:')
dffilled.loc[dffilled['year']==2009,'model_name'].unique().tolist()

Car models in 2009:

['Innova', 'Verna']

In [87]:
#QUESTION 1 PART E SUB-QUESTION ii
print('Car models in 2021:')
dffilled.loc[dffilled['year']==2021,'model_name'].unique().tolist()

Car models in 2021:

['Creta']